<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Internet Management</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="My Site" />
	<meta name="keywords" content="key, words" />	
	<meta name="Distribution" content="Global" />
	<meta name="Robots" content="index,follow" />
	<link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />
</head>
<body>
	<div id="wrapper">
		<div id="logo">
			<h1>Internet Management</h1>
		</div>
		<p id="top">Let us make your ideas reality.</p>
		
		<ul id="menu">
			<li><a class="current" href="#" title="Home">Home</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Content Management</a></li>
			<li><a href="#">Presentations</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Site Map</a></li>		
		</ul>		
			
		<div class="column">
			<h1><span class="number">1</span> Set Goals</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer <a href="#">adipiscing elit</a>, sed diam nonummy nibh.</p>
		</div>
		
		<div class="column">
			<h1><span class="number">2</span> Visualize</h1>
			<p><a href="#">Lorem ipsum</a> dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
		</div>
		
		<div class="column">
			<h1><span class="number">3</span> Discuss</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, <a href="#">sed diam</a> nonummy nibh.</p>
		</div>
		
		<div class="clear"></div>
	
		<div class="half">
			<h2>Lorem Ipsum</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>		
			<p class="date">September 9th &middot; <a href="#">Comment(11)</a></p>		
		</div>
		
		<div class="half">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>		
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
		</div>
		
		<div class="clear"></div>
		
		<div class="news">
			<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum.</p>			
		</div>
		
		<div id="footer">
			<p>&copy; Copyright YourSite &middot; Design: Luka Cvrk, <a title="Awsome Web Templates" href="http://www.solucija.com/">Solucija</a></p>
		</div>
	</div>
</body>
</html>